{:paths ["src"]
 :deps {org.clojure/core.async {:mvn/version "1.6.681"}
        ;; Web 基础
        ring/ring                {:mvn/version "1.12.1"}
        ring/ring-defaults       {:mvn/version "0.5.0"}
        ring/ring-json           {:mvn/version "0.5.1"}
        ring/ring-jetty-adapter  {:mvn/version "1.12.2"}
        ring-cors/ring-cors      {:mvn/version "0.1.13"}
        metosin/reitit           {:mvn/version "0.7.1"}

        ;; 工具
        clj-http/clj-http        {:mvn/version "3.13.0"}
        cheshire/cheshire        {:mvn/version "5.13.0"}
        ;; 本地模块
        afu/agent    {:local/root "../agent"}
        afu/account  {:local/root "../account"}
        afu/database {:local/root "../database"}}}
